<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="ioio.examples.hello_service" android:versionCode="1"
	android:versionName="1.0">
	<uses-sdk android:minSdkVersion="7" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.BLUETOOTH" />

	<application android:icon="@drawable/ic_launcher"
		android:label="@string/app_name">
		<uses-library android:name="com.android.future.usb.accessory"
			android:required="false" />
		<service android:name="HelloIOIOService">
			<intent-filter>
				<action android:name="android.hardware.usb.action.USB_ACCESSORY_ATTACHED" />
			</intent-filter>
			<meta-data android:name="android.hardware.usb.action.USB_ACCESSORY_ATTACHED"
				android:resource="@xml/accessory_filter" />
		</service>
		<activity android:label="@string/app_name" android:name="MainActivity"
			android:launchMode="singleTask">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
	</application>
</manifest>