<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ioio.test_bed">

    <application
        android:theme="@style/Theme.AppCompat.NoActionBar"
        android:icon="@drawable/icon"
        android:label="@string/app_name">
        <activity
            android:name=".IOIOTestBed"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>
</manifest>